.housing {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 8rem;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.housing h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.safety {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.safety h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.education {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 4.7rem;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.education h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.healthcare {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 4.7rem;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.healthcare h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
body {
  background-image: url("../fundo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.image {
  /* background-color: blue; */
  width: 250px;
  height: 180px;
  margin-left: 1.2rem;
  margin-top: 0.8rem;
}

.image img {
  width: 250px;
  border-radius: 5px;
}
