.score {
  border-radius: 25px;
  box-shadow: green 0px 0px 15px;
  background-color: white;
  margin-top: 4%;
  padding: 4%;
}

.score h4 {
  display: flex;
  justify-content: center;
  font-size: 180%;
}

.scoreData {
  margin: 5% 0;
}

.scoreTopic {
  display: flex;
  align-items: center;
  margin: 1% 0;
}

.scoreLabel {
  width: 30%;
}

.scorePoint {
  margin-right: 1%;
}

.scoreProgress {
  width: 70%;
  margin-right: 1%;
}
.scoreButton button {
  font-size: 1rem;
  padding: 1% 5%;
}
