.cityImage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cityName {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.1% 1%;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 25px;
}

.cityPhotographer {
  position: absolute;
  left: 1%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.2% 1%;
  border-radius: 50px;
}
